@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

/* generic */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.ff_mulish {
  font-family: "Mulish", sans-serif;
}
.btn {
  width: 211px;
  height: 60px;
  background: #5454d4;
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.531474px;
  color: #ffffff;
}
/* nav start */
nav {
  padding: 30px 186px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  transition: 0.5s all;
}
.logo:hover {
  transform: scale(1.01);
}
.nav_list {
  display: flex;
  gap: 50px;
}
.list_item {
  list-style-type: none;
}

.list_item a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.468947px;
  color: #696871;
  padding-bottom: 10px;
  transition: 0.1s all;
  border-bottom: 2px solid #fff;
  position: relative;
}
.list_item a::before {
  content: "";
  height: 3px;
  width: 0;
  background: linear-gradient(to right, white, blue);
  position: absolute;
  bottom: 0;
  transition: 0.5s all linear;
  transform-origin: left;
  right: 0;
}

.list_item a:hover::before {
  width: 100%;
  left: 0;
}
.list_item a:hover {
  color: #5454d4;
}

.nav_btn {
  background-color: #ff7143;
}

.nav_btn:hover {
  border: #ff7143 2px solid;
  color: #ff7143;
  background-color: white;
}
/* nav end */
/* hero start */

.hero {
  padding: 50px 186px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
.hero_title {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 77px;
  letter-spacing: -2.50105px;
  color: #19191b;
}

.hero_text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  color: #696871;
  margin: 30px 0 50px 0;
}
.hero_btn {
  background-color: #5454d4;
}
.hero_btn:hover {
  border: 2px solid #5454d4;
  color: #5454d4;
  background-color: white;
}
.btn_wrap {
  display: flex;
  align-items: center;
  gap: 40px;
}
.arrow_wrap {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 5px #e7e7e7;
}
.sponser {
  padding: 0 186px;
  display: flex;
  justify-content: space-between;
}
